.ticket-section{
    background-color: $secondary-color; 
    text-align: center;
    padding: 30px 0px;
    @extend %mb;
}
.tickets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 40px;
    row-gap: 20px;
    // gap: 20px 40px;
}
.ticket{
    span{
        font-size: smaller;
    }
    &__price{
        color: $third-color;
        font-size: $price-font-size;
        margin: 0px;
    }
}