

$primary-color:#016cc7;
$secondary-color:#fcd93b;
$third-color:#dd5138;
$secondary-dark-color:#ddc247d5;
$primary-dark-color:#5255f4;

$black:#000;
$dark-grey:#222;
$grey:#444;
$light-grey:#777;
$lighter-grey:#ccc;
$lighter-grey2:#efefef;
$white:#fff;

