@font-face {
  font-family: BrandaYolq;
  src: url(/stylesheet/fonts/branda-font/Branda-yolq.ttf);
}
@font-face {
  font-family: QueenSidesMedium;
  src: url(/stylesheet/fonts/queensides-font/QueensidesMedium-x30zV.ttf);
}
html {
  font-size: 10px;
}
@media (min-width: 576px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #444;
  font-family: QueenSidesMedium;
}

h1, h2 {
  font-family: BrandaYolq;
}

h2 {
  margin: 0;
}

.container {
  max-width: calc(100% - 30px);
  min-width: 257px;
  margin: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 546px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 718px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 922px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
}

img {
  width: auto;
}

.mb {
  margin-bottom: 30px;
}

.ticket-section, .speakers-section, .hero-section {
  margin-bottom: 30px;
}

.h2 {
  line-height: 4.375rem;
  font-size: 1.625rem;
}

.speakers-section, .event-intro-section {
  text-align: center;
  color: #444;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dd5138;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
@media (min-width: 576px) {
  .btn {
    padding: 13px 30px;
  }
}
@media (min-width: 768px) {
  .btn {
    padding: 15px 40px;
  }
}

.footer-section {
  background-color: #222;
  padding: 13px 0px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.footer__left {
  color: #fff;
  width: 100%;
  text-align: center;
}
.footer__left a {
  color: #016cc7;
}
@media (min-width: 768px) {
  .footer__left {
    width: unset;
    text-align: unset;
  }
}
.footer__right {
  text-align: end;
  font-size: 0.8125rem;
}
.footer__right a {
  color: #fcd93b;
}
.footer__right ul {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.hero-section {
  background-color: #016cc7;
  padding: 40px 0;
}
@media (min-width: 576px) {
  .hero-section {
    padding: 50px 0;
  }
}
@media (min-width: 768px) {
  .hero-section {
    padding: 60px 0;
  }
}
@media (min-width: 992px) {
  .hero-section {
    padding: 80px 0;
  }
}

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .hero {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.hero__meetup {
  color: #fff;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .hero__meetup {
    margin-bottom: 100px;
  }
}
.hero__meetup img {
  height: 3.75rem;
}
.hero__meetup p {
  margin-bottom: 30px;
  font-size: 1.375rem;
}
@media (min-width: 992px) {
  .hero__meetup p {
    margin-bottom: 60px;
  }
}
.hero__rocket-img {
  height: 250px;
}
@media (min-width: 768px) {
  .hero__rocket-img {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .hero__rocket-img {
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .hero__rocket-img {
    height: 400px;
  }
}

.event-intro-section {
  margin-bottom: 70px;
}

.event-intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media (min-width: 576px) {
  .event-intro {
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .event-intro {
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .event-intro {
    gap: 30px;
  }
}
.event-intro__icon {
  width: 5rem;
  color: #5255f4;
  height: auto;
  font-size: 5rem;
}
.event-intro__element {
  flex: 1 0 100%;
}
@media (min-width: 576px) {
  .event-intro__element {
    flex-basis: 47%;
  }
}
@media (min-width: 768px) {
  .event-intro__element {
    flex-basis: 31%;
  }
}

/* .event-intro{
    display: flex;
    flex-grow: 1;
    gap: 30px;
    margin-bottom: 30px;
} */
.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  margin-top: 20px;
}
@media (min-width: 576px) {
  .speakers {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.speaker-card {
  flex: 0 0 90%;
  border: solid 3px #efefef;
  border-radius: 5px;
  padding: 10px;
  color: #777;
}
@media (min-width: 768px) {
  .speaker-card {
    flex: 1 0 42%;
  }
}
@media (min-width: 992px) {
  .speaker-card {
    flex-basis: 26.8%;
  }
}
@media (min-width: 576px) {
  .speaker-card {
    padding: 20px;
  }
}
.speaker-card h3 {
  font-size: 1.875rem;
  line-height: 0px;
}
.speaker-card p {
  overflow: hidden;
}
@media (min-width: 768px) {
  .speaker-card p {
    height: 71px;
  }
}
@media (min-width: 992px) {
  .speaker-card p {
    height: 90px;
  }
}
@media (min-width: 1200px) {
  .speaker-card p {
    height: 71px;
  }
}
.speaker-card__img {
  width: 80px;
  height: auto;
  border: solid 4px #efefef;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .speaker-card__img {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .speaker-card__img {
    width: 120px;
  }
}
.speaker-card__fb-icon {
  height: 1.5rem;
}
.speaker-card__tw-icon {
  height: 1.125rem;
}
.speaker-card__in-icon {
  height: 1.125rem;
}
.speaker-card__socialmedia-links {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (min-width: 576px) {
  .speaker-card__socialmedia-links {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (min-width: 768px) {
  .speaker-card__socialmedia-links {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

.ticket-section {
  background-color: #fcd93b;
  text-align: center;
  padding: 30px 0px;
}

.tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
}

.ticket span {
  font-size: smaller;
}
.ticket__price {
  color: #dd5138;
  font-size: 3.75rem;
  margin: 0px;
}

.contact-section {
  background-color: #444;
  color: #fff;
}

.contact-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 20px;
  padding-bottom: 30px;
  padding-top: 15px;
}
@media (min-width: 992px) {
  .contact-div {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.contact {
  flex: 0 0 100%;
}
@media (min-width: 768px) {
  .contact {
    flex-basis: 78%;
  }
}
@media (min-width: 992px) {
  .contact {
    flex-basis: 60%;
  }
}
@media (min-width: 1200px) {
  .contact {
    flex-basis: 50%;
  }
}
.contact__form-title {
  text-align: center;
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  row-gap: 20px;
}
.contact__form-input-groups {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
@media (min-width: 576px) {
  .contact__form-input-groups {
    display: grid;
    row-gap: 20px;
    -moz-column-gap: 30px;
         column-gap: 30px;
    grid-template-columns: 1fr 5fr;
  }
}
@media (min-width: 768px) {
  .contact__form-input-groups {
    grid-template-columns: 1fr 4fr;
  }
}
@media (min-width: 1200px) {
  .contact__form-input-groups {
    grid-template-columns: 1fr 3.99fr;
  }
}
.contact__form-input-groups label {
  text-align: end;
}
.contact__input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 0.75rem;
}
.contact__input::-moz-placeholder {
  color: #ccc;
}
.contact__input:-ms-input-placeholder {
  color: #ccc;
}
.contact__input::placeholder {
  color: #ccc;
}
.contact__input:focus {
  outline: none;
}
.contact__btn {
  padding: 8px 12px;
  color: #000;
  font-size: 0.8125rem;
  font-weight: 600;
  border: none;
  background-color: rgba(221, 194, 71, 0.8352941176);
}

textarea.contact__input {
  height: 100px;
  /* resize: none; */
}

.twitter-feed {
  text-align: center;
}/*# sourceMappingURL=main.css.map */